<%- contentFor('contentPage') %>

    <div id="container-home" class="container component">
        
        <!-- Topo -->
        <div class="mt-5 mb-5 container-topo">
            <!-- Andar atual -->
            <span id="andar-atual" class="dropdown d-grid gap-2 col-5 col-md-3 col-lg-2" style="width: 155px;">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Térreo</option>
                    <option value="1">1º andar</option>
                    <option value="2">2º andar</option>
                </select>
            </span>
            <!-- Botão dos Filtros -->
            <span id="filtros" class="d-grid gap-2 col-4 col-md-3 col-lg-2">
                <button id="btn-login" class="btn" color="$white" style="height: 48px;" type="button"
                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <i class="mb-1" data-feather="filter"></i>
                    Filtros
                </button>
            </span>
        </div>


        <!-- Salas -->
        <div class="container-salas mt-3 mt-md-5">
            <div class="mt-md-1">

                <div class="sala esquerda py-3 px-3">
                    <h4>Sala 01</h4>
                    <span class="tag-status disponivel px-2 pb-1" style="margin-right:10px;">disponível</span>
                    <button id="btn-plus" type="button" class="btn" color="$white" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        <i style="width: 20px; height: 20px; margin-left:-8px; margin-top:-9px;"
                            data-feather="plus"></i>
                    </button>
                </div>


                <div class="sala py-3 px-3">
                    <h4>Sala 02</h4>
                    <span class="tag-status ocupado px-2 pb-1" style="margin-right:15px;">ocupado</span>
                    <button id="btn-plus" type="button" class="btn" color="$white" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        <i style="width: 20px; height: 20px; margin-left:-8px; margin-top:-9px;"
                            data-feather="plus"></i>
                    </button>
                </div>

                <!-- Sala fantasma -->
                <div class="sala sala-fantasma py-3 px-3">
                </div>
            </div>
        </div>

        <!-- Modal Sala-->
        <%- include("../partials/modal-sala") %>

        <!-- Offcanvas Filtros  -->
        <%- include("../partials/offcanvas-filtros") %>

    </div>

    <%- include('../partials/navbar') %>