<%- contentFor('contentPage') %>

    <div id="container-horarios" class="component container">
        <h4 class="titulo">Horários</h4>
        <!-- Horários -->
    </div>

<%- include('../partials/navbar') %>