<%- contentFor('contentPage') %>

    <!-- Alert -->
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Dados incorretos!</strong> Entre com os dados de Login correspondentes.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div id="container-login" class="container component">

        <!-- Logo -->
        <img id="logo-login" src="img/logo.png" class="rounded mx-auto d-block"
            alt="Portuno - sistema de ocupação de salas">


        <!-- Fomrulário de login -->
        <form id="form-login" action="/auth" method="post">
            <div class="mb-3">
                <label for="idAcademico" class="form-label">Matrícula/Siape</label>
                <input name="uid" type="text" class="form-control" id="idAcademico" required pattern="[0-9]{6,7}"
                    title=" 6 ou 7 dígitos numéricos para matrícula ou siape, respectivamente">
            </div>
            <div class="mb-3">
                <label for="senha" class="form-label">Senha</label>
                <input name="password" type="password" class="form-control" id="senha" required>
            </div>
            <div id="btn-login-container" class="d-grid gap-2 col-6 mx-auto">
                <input id="btn-login" class="btn btn-primary" value="Logar" type="submit">
            </div>
        </form>


    </div>