<!-- Modal Sala-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center;">
                <h5 class="modal-title nome-da-sala" id="exampleModalLabel">Sala 01</h5>
                <span class="status-sala">
                    <i class="feather" data-feather="check" width="18" height="18"></i>
                    disponível
                </span>
            </div>
            <div class="modal-body" >
                <div class="informacoes-sala">
                    <h5 class="topico">Tipo de sala:</h5>
                    <h5 class="conteudo">Sala de aula</h5>

                    <h5 class="topico">Quantidade de espaços:</h5>
                    <h5 class="conteudo">20 carteiras</h5>

                    <h5 class="topico">Contém:</h5>
                    <h5 class="conteudo">01 projetor</h5>
                    <h5 class="conteudo">20 computadores</h5>

                    <h5 class="topico">Próxima reserva:</h5>
                    <h5 class="conteudo">14:00 - Prof Mara Bonates</h5>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Solicitar</button>
            </div>
        </div>
    </div>
</div>