<!-- Barra de navegção -->
<nav class="navbar fixed-bottom">
    <a class="<%= (page == "home")?"atual":""%>" href="home">
        <i class="feather" data-feather="home"></i>
        <br>
        <span>Início</span>
    </a>
    <a class="<%= (page == "horarios")?"atual":""%>" href="horarios">
        <i class="feather" data-feather="calendar"></i>
        <br>
        <span>Horários</span>
    </a>
    <a class="<%= (page == "reservas")?"atual":""%>" href="reservas">
        <i class="feather" data-feather="bookmark"></i>
        <br>
        <span>Reservas</span>
    </a>
    <a class="<%= (page == "perfil")?"atual":""%>" href="/perfil">
        <i class="feather" data-feather="user"></i>
        <br>
        <span>Perfil</span>
    </a>
</nav>