@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

html, body {
  height: 100%;
  width: 100%;
  max-width: 1366px;
  padding: 0;
  margin: 0; 
  overflow: hidden;
}

/* GUIA DE ESTILO */
:root{
  --corPrincipal:#2565DC;
  --corFundo:#F5F9FD;
  --corFonteEscura: #0A0F1A;
  --corFonteClara: #FAFAFA;
  --corVerde:#12D68F;
  --corVermelho:#E11B3F;
  --corDetalhes: #6593E6;
  --corSalas: #FAFAFA;

  --fonteTitulosTm: 24px;
  --fonteSalaTm: 18px;
  --fonteBtnMaxTm: 16px;
  --fonteConteudoTm: 16px;
  --fonteBtnMinTm: 12px;

  --fonteTitulosPeso:600;
  --fonteSalaPeso:600;
  --fonteBtnMaxPeso:500;
  --fonteConteudoRegPeso:500;
  --fonteConteudoLigPeso:300;
  --fonteBtnMinPeso: 300;
}
/* COMPONENTES GERAIS */

/* TITULOS */
.titulo{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 28px;
  line-height: 3.86473429952%;
  margin-top: 28.5024154589%;
  margin-bottom: 15.9420289855%;
}

/* INPUTS */
.input{
  display: block;
  border: 1px solid var(--corDetalhes);
  border-radius: 10px;
  width:83.091787439%;
  max-width: 500px;
  height: 48px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 5.79710144927%;
  padding-left: 16px;
}

/* BOTAO */  
.botao{
  width: 41.062801932%;
  max-width: 246px;
  height: 48px;
  background: var(--corPrincipal);
  color: var(--corFonteClara);
  border: 0;
  border-radius: 10px;
  margin-top: 16.1835748793%;
  margin-bottom: 50.24154543%;
}
.botao:hover{
  background: var(--corPrincipal);
}
.botao:active{
  background: var(--corDetalhes);
}
/* BOTTOM NAVBAR */
i{
  width: 32px;
  height: 32px;
}

/* BOTTOM NAVBAR */
.navbar {
  background-color: var(--corPrincipal);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 7.60869565217%;
  padding-right: 7.60869565217%;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-left: 10.2657004831%;
  padding-right: 10.2657004831%;
  padding-top: 3.86473429952%;
  padding-bottom: 1.93236714976%;
  text-decoration: none;
  font-size: 17px;
}
.nav-item{
  display: inline-block;
  margin-left: 10.2657004831%;
  margin-right:10.2657004831%;
  margin-top: 3.86473429952%;
  margin-bottom: 3.86473429952%;
}

/* ESTILOS PARA TELAS ESPECÍFICAS */

/* TELA DE LOGIN */
#logotipo{
  margin-top: 50%;
  margin-bottom: 18.75%;
}
input#btnLogar{
  margin-top: 23.1884057971%;
  margin-bottom: 54.1062801932%;
}

/* TELA DE PERFIL */
#editar{
  font-family: 'Roboto';
  width: 100%;
  font-size: 14px;
  color: var(--corPrincipal);
  vertical-align: middle;
  text-decoration: none;
  margin-bottom: 1.93236714976%;
}
#editar p{
  display: inline-block;
}
#btnLogout{
  margin-top:23.1594202898%;
  margin-bottom: 30.9178743961%;
}
/* TELA DE SALA */
#nomeSala{
  margin-bottom: 4.10628019324%;
}
#satusSala {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
h2.ocupado{
  color: var(--corVermelho);
}
h2.disponivel{
  color: var(--corVerde);
}
#informacoesSalas{
  text-align: left;
  margin-left: 17.6328502%;
  margin-top:22.9910714%;
}
.topico-sala {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
}
.conteudo-sala{
  margin-bottom: 3.86473429952%;
}
.conteudo-sala li{
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  margin-top: 1.89732143%;
  margin-bottom: 1.89732143%;
  margin-left: -30px;
  list-style-type: none;
}
.disabled{
  cursor: not-allowed;
}
#btnSolicitar{
  margin-top: 50px;
}
/* TELA DE HOME */

/* TOPO */
.topo{
  float: left;
  display: block;
  width: 83.0917874396%;
  margin-left:8.45410628019%;
  margin-right:8.45410628019%;
  margin-top: 10.8695652174%;
  margin-bottom: 5.79710144928%;
}
.andar-titulo{
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  width: 120px;
  margin-left: 10px;
  padding-right: 15px;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(./img/select.png) no-repeat center right;
}
select option{
  font-size: 10px;;
}
#btnFiltro{
  float: right;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 6px;
  padding: 0;
  position: relative;
  top: 0.5em;
  right: 0.6em;
}

/* SALAS */
#salas{
  max-width: 600px;
  min-width: 345px;
  height: 23.1884057971%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}
.nome-sala{
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-align: left;
  letter-spacing: 1.25px;
  margin-left: 18px;
  margin-top: 20px;
  width: 70.2%;
}
.caixaSala{
  max-width: 300px;
  width: 39.13%;
  display: flex;
  flex-wrap: wrap;
  background: #FAFAFA;
  box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-bottom: 2.4154589372%;
  margin-bottom: 3.86473429952%;
}
.complemento-sala{
  border: 0;
  box-shadow: 0;
  background: rgba(0,0,0);
  opacity: 0;
}
.esquerda{
  margin-right: 1.9%;
  margin-left: auto;
}
.direita{
  margin-right: auto;
  margin-left: 1.9%;
}
/* ELEMENTOS DA SALA */
.status{
  margin-top: 1.93236714976%;
  font-size: 12px;
  height: 3.86473429952%;
  width: 48.6%;
}
.buttonPlus{
  margin-right: 4.59%;
  margin-left: auto;
}
mark{
  border-radius: 20px;
  margin-top:1.93236714976%;
  padding: 5px 10px 5px 10px;
  margin-left: 15px;
  width: 48.6%;
  color: #FAFAFA;
}
mark.ocupado{
  background: var(--corVermelho)
}
mark.disponivel{
  background: var(--corVerde)
}


/* ESTILOS PARA TELAS DIFERENTES */
@media (max-height: 736px) {
  input#btnLogar{
    margin-top: 20px;
  }
  input#btnLogout{
    width: 100px; 
    height: 40px;
    margin-top: 0px;
  }
  #btnSolicitar{
    width: 100px; 
    height: 40px;
    margin-top: 0px;
  }
  .topo{
    margin-top: 10px;
    margin-bottom: 12px; 
  }
  #salas{
    overflow-y: scroll;
    height: 600px;
  }
}
@media (min-width: 600px){ 
  #logotipo, .titulo{
    margin-top: 80px;
    margin-bottom: 60px;
  }
  #nomeSala{
    margin-bottom: 15px;
  }
  #statusSala{
    font-size: 16px;
    margin-bottom:50px;
  }
  #informacoesSalas{
    text-align: left;
    height: 100px;
    margin: 0;
    margin-left: 37.0673499268%;
    margin-bottom: 200px;
  }
  .topico-sala{
    margin-top: 5px;
    margin-bottom: 0;
  }
  .conteudo-sala li{
    margin-top: 0;
    margin-bottom: 0;
  }
  .input{
    height: 40px;
    margin-bottom: 24px;
  }
  #editar{
   margin-top: 24px;
  }
  input#btnLogar{
    margin-top: 50px;
  }
  input#btnSolicitar,
  input#btnLogout {
    width: 100px; 
    height: 40px;
    margin-top: 10px;
  }
  .navbar a{
    padding-top: 0;
    padding-bottom: 0;
  }
  i{
    width: 10px;
    height: 10px;
  }
  .topo{
    margin-top: 20px;
  }
  .buttonPlus{
    width: 20px;
    height: 20px;
  }
   #salas{
    width: 70%;
    margin-top: 100px;
    height: 350px;
    min-width: 600px;
    overflow: hidden;
  }
  .caixaSala{
    width: 120px;
    height: 100px;
    padding: 0;
    margin: 0;
    margin-left: 24px;
    margin-bottom: 20px;
  }
  select option{
  font-size: 15px;
}
}